.App {
  text-align: center;
}

.App-header {
  background-color: #e4e7f7;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  padding: 20px;
  cursor: default;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}


.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}




/* .App-header h2 {
  margin: 0;
} */


.movie {
  padding: 15px 15px 15px 15px;
  margin: 15px 25px 15px 25px;
  width: 50%;
  /* border: solid; */
  border-radius: 30px;
  height: auto;
  box-shadow: 1px 1px 6px 4px rgba(0,0,0,0.31);
}

.posters {
  border-radius: 20px;
  display: block;
  width: 7em;
  height: auto;
}

.posters:hover {
  box-shadow: 0 0 0 2px red;
}

.movie-card {
  display: flex;
  
}

.movie-card-info {
  display: flex;
  flex-direction: column;
}

.errorMessage {
  margin: auto;
  margin-top: 1em;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 7em;
  margin-bottom: 1em;
}

#search-bar {
  border-radius: 30px;
}

#search-button {
  margin-left: 0.5em;
  border-radius: 30px;
}

/* @media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}


@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
} */
